@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #8a79f0;
    --primary-color-dark: #2e2a40;
    --text-dark: #221e36;
    --text-light: #767268;
    --extra-light: #f1f2ff;
    --white: #ffffff;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 3.25rem;
    text-align: center;
}
.section_description{
    color: var(--text-light);
    text-align: center;
    line-height: 1.5rem;
}

.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: .5rem;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-color-dark);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    max-width: 70px;
}

.logo span{
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    color: var(--white);
    white-space: nowrap;
}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

html, 
body {
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    background: linear-gradient(
        to bottom,
        rgba(138, 121, 240, 0),
        rgba(138, 121, 240, 0.1)
    );
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{
    padding: .75rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color-dark);
}

.nav_logo .logo-dark{
    display: none;
}

.nav_menu-btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;      
}

.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color-dark);
    transition: transform 0.5s;
    z-index: -1;

}

.nav_links.open{
    transform: translateY(100%);
}
.nav_links a{
    color: var(--white);
}
.nav_links a:hover{
    color: var(--primary-color);
}

.nav_btns{
    display: none;
}
.header_container{
    padding-top: 5rem;
    display: grid;
}

.header_image{
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.header_image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 5rem;
    background-color: var(--primary-color);
    opacity: 0.2;
    border-top-left-radius: 2rem;
    z-index: -1;
}
.header_content{
    padding-block: 2rem 5rem;
    padding-inline: 1rem;
}

.header_content h2{
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.005);
}
.header_content h1{
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--text-dark);
    text-align: center;
}



@media (width > 768px) {
    nav{
        position: static;
        padding: 1.5rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

    }

    .nav_header{
        flex: 1;
        padding: 0;
        background-color: transparent;

    }
    .nav_logo img{
        max-width: 45px;
    }
    .nav_logo .logo-dark{
        display: flex;
    }
    .nav_logo .logo-white{
        display: none;
    }
    .nav_logo span{
        font-size: 1.5rem;
        color: var(--primary-color-dark);
    }
    .nav_menu-btn{
        display: none;
    }
    .nav_links{
        position: static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;
    }
    .nav_links a{
        font-weight: 500;
        color: var(--text-dark);

    }
    .nav_links li:last-child{
        display: none;
    }
    .nav_btns{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .header_container{
        padding-top: 0;
        grid-template-columns: 
        minmax(0, 1fr)
        minmax(0, calc(var(--max-width) / 2))
        minmax(0, calc(var(--max-width) / 2))
        minmax(0, 1fr);

    }
    .header_image{
        grid-area: 1/3/2/5;
        height: 100%;
    }
    .header_image img{
        padding-bottom: 5rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: unset;
        height: 100%;
    }

    .header_content{
        padding-block: 2rem 10rem;
        grid-area: 1/2/2/3;
    }
    .header_content h2{
        margin-inline-start: unset;
    }
    .header_content :is(h1, .section_description){
        text-align: left;
    }
}